body{
  background-image: url(./gisborn1.jpg);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
} 
.header
{
  text-align: left;
}
.main
{
  text-align: center;
}
.footer
{
  text-align: right;
}
.title
{ 
  font-family: 'Wallpoet', cursive;
  color: #0ff;
  font-size: 40px;
}
.description
{
  color: #B0E0E6;
  font-size: 20px;
}
.button {
  display: inline;
  width: 150px;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 2px solid;
  text-align: center;
}
